<!DOCTYPE html>
<html>
    <head>
        <title>SoundJack</title>
        <meta charset="utf-8">
        <!-- Dùng để link tới css -->
        <link rel="stylesheet" href="Profile.css">

    </head>
    <body>
        <div class="background_image">
            <div class="SoundJack">SoundJack</div>
            <div class="Logo">
                <img src="firefly-bnw.png" alt="Logo" class="logo">
            </div>
            
        </div>
        <div class="box_in4" id="Profile">
            <img src="https://i.pinimg.com/474x/df/ce/a7/dfcea7989195d3273c2bcb367fca0a83.jpg" alt="Avatar" class="Avatar">
            <p class="FullName_text"> Full Name</p>
            <input type="text" id="FullName" placeholder="Enter your full name" value={{user.name}}>
            <p class="DOB_text"> DOB</p>
            <input type="date" id="DOB" placeholder="Enter your day of birth" value={{user.dob}}>
            <p class="PhoneNumber_text">Phone Number</p>
            <input type="tel" id="PhoneNumber" placeholder="Enter your phone number" value="{{phoneNumber}}">
            <div class="Gender">
                <tr>Gender: </tr>
                <input type="radio" name="Gender" {{#if user.genderMale}}checked{{/if}}>Male
                <input type="radio" name="Gender" {{#if user.genderFemale}}checked{{/if}}>Female
            </div>
            <button class="box_in4 button" type="submit">Save</button>
            

        </div>
        <script>
            document.getElementById('Profile', async function(){
                try{
                    const response=await fetch('/api/user/profile');
                    const data=await response.json();
                    if(data.success){
                        document.getElementById('FullName').value=data.data.FullName;
                        document.getElementById('DOB').value=data.data.DOB;
                        document.getElementById('PhoneNumber').value=data.data.PhoneNumber;
                    }
                    else{
                        alert(data.message);
                    }
                }
                catch(error){
                    console.error('Error:',error);
                    alert('Error');
                }
            });

        </script>
        
    </body>
</html>