
body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.background {
   height: 100vh;
   width: 100%;
   background-image: url(img/background.png);
   background-color: black;
   background-size: cover;
   background-position: center;
   position: relative;
}
.container {
    position: absolute;
    top: 45%;
    left:  50%; 
    width: 30%; 
    transform: translate(-50%, -35%);
    height: 60%; 
    background: #1D2128FF;
    border-radius: 6px; 
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.display1 {
    display:block;
    margin:auto;
    width:60%;
    margin-bottom: 20px;

}
label {
    margin: 7.3%;
    margin-top: 10px;
    margin-bottom: 20px;
    font: bold 1em Helvetica;
}
.text {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ffffff00;
    background: rgb(51, 56, 65);
    color: white;
    font: 16px Arial, sans-serif;
}
.signupbutton {
    border: none;
    width: 85%;
    position: absolute;
    left: 7.5%;
    padding: 15px;
    background-color: rgb(105, 105, 105) ;
    font: bold 16px Arial, sans-serif;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -23%;
}
.signupbutton:hover {
    background-color: grey;
}
.signupbutton:active {
    background-color: rgb(72, 72, 72);
}
.logo {
    padding: 10px;
    padding-left: 30px;
    color: white;
}

#already {
    margin-left: 20%;
    margin-top:  20% ;
    color:  #aeadad;
}
#already a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#already a:hover {
    text-decoration: underline;
}
.signupbutton {
    pointer-events: auto; /* Đảm bảo không bị chặn */
}

