<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/firefly-bnw.png" type="image/x-icon">
    <link rel="stylesheet" href="Signup.css">
    <title>SoundJack</title>
</head>
<body>
    <div class="background">
        <div class="logo">
            <img src="img/firefly-bnw.png" alt="firefly" style="width: 30px; height: 30px; position: relative;">
            <h3 style="margin: 0px;position: absolute; top:15px; left: 70px; display:inline-block;">SoundJack</h3>
        </div>
        <div class="container">
            <h2 style="font: Arial, sans-serif; color: white; margin: 5% 35% 20px 40%"> Sign Up</h2>
            <form id="SignUpForm">
                <label for="Username" style="color: aliceblue;">Email</label>
                <input class="display1 text" type="email" name="Email" placeholder="Email" required>

                <label for="Password" style="color: aliceblue;">Password</label>
                <input class="display1 text" type="password" name="Password" placeholder="Password" required>

                <label for="Retype_Password" style="color: aliceblue;">Confirm Password</label>
                <input class="display1 text" type="password" name="ConfirmPassword" placeholder="Confirm Password" required>

                <button type="submit" class="signupbutton" >Sign up</button>
            </form>
        </div>
    </div>

    <script>
        console.log('Before event listener 2');
        document.getElementById('SignUpForm').addEventListener('submit', async function(event) {
            event.preventDefault();// ngung nhung hanh dong tai lai trang lam mat console log.
            console.log('Submit button clicked');
        });
    </script>
</body>
</html>
