:root
{
    --text_color:white;
    --text_font:Arial, Helvetica, sans-serif;
}

.background_image 
{
    background-image: url(https://pbs.twimg.com/media/DdYT2TGV0AA0p3G?format=jpg&name=4096x4096);
    background-size: cover; /* Ảnh sẽ bao phủ toàn bộ */
    background-position: center; /* Đặt ảnh ở giữa */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    width: 100vw;
    height: 100vh; /* Chiều cao bằng chiều cao của viewport */
    position: fixed; /* Giữ vị trí cố định */
    top: 0;
    left: 0;
    z-index: -1; /* Đưa ảnh xuống phía sau các nội dung khác */
}

.SoundJack
{
    font-family:var(--text_font) ;
    font-weight: bold;
    position:relative;
    color:var(--text_color);
    z-index: 0;
    left:4vw;
    top:2vh;
}
.background_image .Logo
{
    position:absolute;
    width:2%;
    height:4%;
    top:1.5vh;
    left:1.5vw;
}
.Unlock_text 
{
    font-family: var(--text_font);
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color:var(--text_color);
    z-index: 0; /* Đảm bảo chữ nằm trên lớp phủ */
    top: 14vh;
    left: 36.5vw;
}
.Login_text
{
    font-family: var(--text_font);
    font-size:20px;
    font-weight: bold;
    position: relative;
    color:var(--text_color);
    z-index: 0; /* Đảm bảo chữ nằm trên lớp phủ */
    top: 15vh;
    left: 42vw;
}

.box_Login
{
    position: relative;
    top: 40vh;
    left:  51vw; 
    width: 28vw;
    height: 40vh; 
    transform: translate(-50%, -35%);
    color:white;
    display:flex;
    align-items: top;
    justify-content: center;
    background-color: #1D2128FF;
    z-index: 1;
    border-radius: 10px;
}

.box_Login .Sign_In_text
{
    position: absolute;
    font-family: var(--text_font);
    font-weight: bold;
    font-size:20px;
    width: 80%;
    padding: 10px;
    margin-left: 5vw;
    margin-top: 1vh;
    
}
.box_Login .Email_text
{
    position: absolute;
    font-family: var(--text_font);
    font-size:15px;
    font-weight: bold;
    margin-top:7vh;
    margin-left: -5.6vw;
}

.box_Login .Password_text
{
    position: absolute;
    font-family: var(--text_font);
    font-size:15px;
    font-weight: bold;
    margin-top:17vh;
    margin-left: -5.6vw;
}

.box_Login input[type="email"]
{
    width: 90%;
    height:6%;
    padding: 1.2rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(51, 56, 65);
    border-radius: 5px;
    background-color: rgb(51, 56, 65);
    color: #fff;
    font-size: 1rem;
    position: absolute;
    margin-top: 10vh;
    margin-left: -5.6vw;
}

.box_Login input[type="password"]
{
    width: 90%;
    height:6%;
    padding: 1.2rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(51, 56, 65);
    border-radius: 5px;
    background-color: rgb(51, 56, 65);
    color: #fff;
    font-size: 1rem;
    position: absolute;
    margin-top:20vh;
    margin-left: -5.6vw;
}

.box_Login button[type="submit"]
{
    border: none;
    width:90%;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(105, 105, 105);
    color:var(--text_color);
    padding: 15px;
    margin-top:29vh;
    margin-left: -5.6vw;
    cursor: pointer;
    font: bold 16px Arial, sans-serif;
}
p {
    font-size: 16px; /* Cỡ chữ */
    color: #aeadad; /* Màu chữ */
    margin-top: 380px ; /* Khoảng cách trên và dưới */
    font-family: var(--text_font);
}

p a {
    color: white; /* Màu chữ của liên kết */
    text-decoration: none; /* Xóa gạch chân */
    font-weight: bold; /* Đậm chữ */
}

p a:hover {
    text-decoration: underline; /* Thêm gạch chân khi hover */
}

.box_Login button[type="submit"]:hover {
    background-color: grey;
}

.box_Login button[type="submit"]:active {
    background-color: rgb(72, 72, 72);
}
/* .box_Login .New_Member_text
{
    position:absolute;
    font-family:Times New Roman, Helvetica, sans-serif ;
    font-size:15px;
    margin-top: 310px;
} */






