<!---
<body>
</body>
-->
<!DOCTYPE html>
<html>
<head>
    <title>SoundJack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="firefly-bnw.png" type ="image/png">
    <link rel="stylesheet" href="design.css" >
</head>
<body>
    <div class="background_image">
        <div class="SoundJack">SoundJack</div>
        <div class="Logo">
            <img src="firefly-bnw.png" alt="Logo" class="logo">
        </div>
        <div class="Unlock_text">Unlock a world of endless entertainment</div>
        <div class="Login_text">Login to Discover, Stream, and Enjoy</div>
    </div>
    <div class="box_Login">
        
        <form id="loginForm">
            <h2 class="Sign_In_text">Sign In</h2>
            <p class="Email_text"> Email</p>
            <input type="email" id ="email" name="email" placeholder="Enter your email" required>
            <p class="Password_text" required> Password</p>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Sign In</button>
            <p class="last">Don't have an account? <a href="../SignUp/signup.html">Sign up here</a></p>
        </form>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('http://localhost:3000/api/login/signin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                });

                if (!response.ok) {
                    throw new Error('Login failed');
                }

                const result = await response.json();
                //console.log('After login',result.accessToken );
                localStorage.setItem('token', result.accessToken); // Lưu token vào localStorage
                alert('Login successful');
                window.location.href = '../Homepage/index.html'; // Chuyển hướng đến trang chủ
            } catch (error) {
                console.error('Error during login:', error);
                alert('Login failed');
            }
        });

    </script>
    
</body>
</html>


